@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hoş geldiniz</h1>
    <p> <a href="https://www.csgb.gov.tr/isggm">İş sağlığı ve güvenliği hakkında daha detaylı bilgi için tıklayınız .</a></p>
</div>
